#================================================
# Dependencies
#================================================
composer.phar
vendor/
node_modules/
composer.lock # will be removed with the init script
/system/bash-history/*

#================================================
# Application runtime files
#================================================
var/

#================================================
# Logs
#================================================
npm-debug.log

#================================================
# Application hydrated configuration files
#================================================
karma
config/built-in/*.yml
config/local/*.yml

#================================================
# Deployed files
#================================================
www/assets/*
assets/css/*

#================================================
# QA reports
#================================================
pdepend.xml
pyramid.svg
jdepend.svg
coverage/

#================================================
# Eclipse files
#================================================
.buildpath
.project
.settings/
