#================================================
# Composer files
#================================================
composer.phar
vendor/

#================================================
# Bower files
#================================================
vendor-front/

#================================================
# Application runtime files
#================================================
var/

#================================================
# Application hydrated configuration files
#================================================
karma
config/built-in/*.yml
config/local/*.yml

#================================================
# less compilation target directory
#================================================
assets/compiled/

#================================================
# Eclipse files
#================================================
.buildpath
.project
.settings/
