# Composer files
vendor/

# Application runtime files
var/

# Application hydrated configuration files
config/built-in/*.yml
config/local/*.yml

# less compilation target directory
assets/compiled/

# Eclipse files
.buildpath
.project
.settings/