@import 'variables';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';
@import '../../bower_components/font-awesome/scss/font-awesome';

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
