<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    {% block stylesheet %}
        {% for asset in webpackAssets('*.scss, *.css') %}
            <link rel="stylesheet" type="text/css" href="{{ asset }}">
        {% endfor %}
    {% endblock %}
    <title>Onyx</title>
  </head>

  <body>
    {% block content %}{% endblock %}
    {% block javascript %}
        {% for asset in webpackAssets(include='*.js', exclude='admin.js,main.js') %}
            <script src="{{ asset }}"></script>
        {% endfor %}
        {% for asset in webpackAssets('main.js') %}
            <script src="{{ asset }}"></script>
        {% endfor %}
    {% endblock %}
  </body>
</html>
